---
import ExperienceItem from "@/components/ExperienceItem.astro";
import Timeline from "@/icons/Timeline.astro";
import { getI18N } from "@/languages/index.ts";
import { experiencesService } from "@/services/experiences";
import MainTitle from "../MainTitle.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const EXPERIENCE = experiencesService(currentLocale);
---

<MainTitle>
	<Timeline class="size-8" />
	{i18n.WORK_EXPERIENCE}
</MainTitle>

<ol class="relative ml-3 w-11/12 border-s border-cyan-600 dark:border-slate-800">
	{
		EXPERIENCE.map((experience) => (
			<li class="mb-10 ms-6">
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
