---
import HomeArticleCard from '@/components/HomeArticleCard.astro'
import MainTitle from '@/components/MainTitle.astro'
import Book from '@/icons/Book.astro'
import UpArrow from '@/icons/UpArrow.astro'
import { getI18N } from '@/languages/index'
import { articlesService } from '@/services/articles'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const articles = articlesService()
---

<div class='flex w-full max-w-4xl flex-col sm:w-11/12 md:w-8/12'>
	<MainTitle>
		<Book class='size-8' />
		{i18n.ARTICLES}
	</MainTitle>

	<div class='flex w-full flex-col gap-2'>
		{articles.slice(0, 4).map((story) => <HomeArticleCard {...story} />)}
	</div>

	<a
		href='/articles'
		class='mt-6 flex size-4 w-fit select-none gap-2 text-secondary transition-all active:text-primary sm:cursor-pointer sm:hover:gap-1 sm:hover:text-primary'
	>
		<span>{i18n.VIEW_ALL_ARTICLES}</span>

		<UpArrow class='rotate-90' />
	</a>
</div>
