---
import MainTitle from '@/components/MainTitle.astro'
import StoryCard from '@/components/StoryCard.astro'
import Book from '@/icons/Book.astro'
import UpArrow from '@/icons/UpArrow.astro'
import { getI18N } from '@/languages/index'
import { storiesService } from '@/services/stories'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const stories = storiesService()
---

<div class='flex w-full max-w-4xl flex-col sm:w-11/12 md:w-8/12'>
	<MainTitle>
		<Book class='size-8' />
		{i18n.STORIES}
	</MainTitle>

	<div class='flex w-full flex-col gap-2'>
		{stories.slice(0, 4).map((story) => <StoryCard {...story} />)}
	</div>

	<a
		href='/stories'
		class='active:text-primary sm:hover:text-primary text-secondary mt-6 flex size-4 w-fit select-none gap-2 transition-all sm:cursor-pointer sm:hover:gap-1'
	>
		<span>{i18n.VIEW_ALL_STORIES}</span>

		<UpArrow class='rotate-90' />
	</a>
</div>
