---
import MainTitle from '@/components/MainTitle.astro'
import PhotographyCard from '@/components/PhotographyCard.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import AboutMe from '@/components/web/AboutMe.astro'
import Articles from '@/components/web/Articles.astro'
import Photography from '@/icons/Photography.astro'
import type { Preload } from '@/interfaces/preload'
import { getI18N } from '@/languages/index'
import Layout from '../layouts/Layout.astro'

const i18n = getI18N({ currentLocale: Astro.currentLocale })

const preloadImages: Preload[] = [
	{
		as: 'image',
		href: `https://rikirilis.com/images/about-image.webp`,
		type: 'image/webp',
		rel: 'preload',
	},
]
---

<Layout
	title='Web - RikiRilis'
	description="The RikiRilis' Website. Read stories and comments about all you want to know. I build easy-to-use websites and Android apps, with fast technologies and UX/UI standards to improve user experience."
	canonical='https://rikirilis.com/'
	preload={preloadImages}
>
	<SectionContainer id='web'>
		<Articles />
	</SectionContainer>

	<SectionContainer>
		<div class='flex w-full max-w-4xl flex-col sm:w-11/12 md:w-8/12'>
			<MainTitle>
				<Photography class='size-8' />
				{i18n.PHOTOGRAPHY}
			</MainTitle>

			<PhotographyCard />
		</div>
	</SectionContainer>

	<SectionContainer>
		<AboutMe />
	</SectionContainer>
</Layout>
