---
import Contact from "@/components/Contact.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import AboutMe from "@/components/web/AboutMe.astro";
import Stories from "@/components/web/Stories.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Web | RikiRilis"
	description="The RikiRilis' Website. Read stories and comments about all you want to know. I build easy-to-use websites and Android apps, with fast technologies and UX/UI standards to improve user experience."
>
	<main>
		<SectionContainer id="web">
			<Stories />
		</SectionContainer>

		<SectionContainer id="about">
			<AboutMe />
		</SectionContainer>

		<SectionContainer id="contact">
			<Contact />
		</SectionContainer>
	</main>
</Layout>
