---
import MainTitle from '@/components/MainTitle.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import StoryCard from '@/components/StoryCard.astro'
import Book from '@/icons/Book.astro'
import { getI18N } from '@/languages/index'
import { storiesService } from '@/services/stories'
import Layout from '../layouts/Layout.astro'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const stories = storiesService()
---

<Layout
	title=`${i18n.STORIES} | RikiRilis`
	description="The RikiRilis' Website. Read stories and comments about all you want to know. I build easy-to-use websites and Android apps, with fast technologies and UX/UI standards to improve user experience."
	canonical='https://rikirilis.com/stories/'
>
	<main>
		<SectionContainer>
			<div class='flex w-full max-w-4xl flex-col gap-2 sm:w-11/12 md:w-8/12'>
				<MainTitle>
					<Book class='size-8' />
					{i18n.STORIES}
				</MainTitle>
			</div>

			<div class='flex w-full max-w-4xl flex-col gap-2 sm:w-11/12 md:w-8/12'>
				{
					stories
						.sort((a, b) => a.title.localeCompare(b.title))
						.map((story) => <StoryCard {...story} />)
				}
			</div>
		</SectionContainer>
	</main>
</Layout>
