---
import Briefcase from '@/icons/Briefcase.astro'

interface Props {
	title: string
	description: string
	date: string
}

const { title, description, date } = Astro.props
---

<span
	class='fade-up-anim absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-slate-200 ring-8 ring-slate-300 dark:bg-cyan-950 dark:ring-slate-900'
>
	<Briefcase class='size-4 text-cyan-600' />
</span>

<h3 class='fade-up-anim ml-2 flex items-center text-xl font-bold text-cyan-600'>
	{title}
</h3>

<time
	class='fade-up-anim mb-3 ml-2 block text-sm font-normal italic leading-none text-slate-400 dark:text-slate-500'
>
	{date}
</time>

<p
	class='fade-up-anim mb-4 ml-2 text-pretty text-base font-normal text-slate-600 dark:text-slate-400'
>
	{description}
</p>
