---
import Discord from "@/icons/Discord.astro";
import GitHub from "@/icons/GitHub.astro";
import Instagram from "@/icons/Instagram.astro";
import WhatsApp from "@/icons/WhatsApp.astro";
import X from "@/icons/X.astro";
import { getI18N } from "@/languages/index.ts";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<footer class="flex w-full flex-col items-center">
	<div class="flex w-11/12 flex-col py-10 sm:w-3/4 lg:w-[65%]">
		<hr
			class="my-6 h-0.5 w-full border-0 bg-gradient-to-r from-transparent via-cyan-800 to-transparent md:inline-block"
		/>

		<div
			class="flex w-full flex-col items-center gap-y-6 sm:items-center sm:justify-between sm:gap-x-8 sm:gap-y-0 md:flex-row"
		>
			<p class="text-pretty text-sm text-slate-600 dark:text-slate-400">
				&#169; 2024 RikiRilis. {i18n.FOOTER_TXT_1}
				<a
					rel="noopener noreferrer"
					href="https://rikirilis.xyz"
					class="font-bold text-cyan-600 transition-colors active:text-slate-700 active:underline dark:active:text-slate-300 sm:hover:text-slate-700 sm:hover:underline dark:sm:hover:text-slate-300"
					>RikiRilis</a
				>
				(Rikelvi Capellán García) {i18n.FOOTER_TXT_2}
				<a
					rel="noopener noreferrer"
					href="https://astro.build"
					target="_blank"
					class="font-bold text-cyan-600 transition-colors active:text-slate-700 active:underline dark:active:text-slate-300 sm:hover:text-slate-700 sm:hover:underline dark:sm:hover:text-slate-300"
					>Astro</a
				>, <a
					rel="noopener noreferrer"
					href="https://tailwindcss.com"
					target="_blank"
					class="font-bold text-cyan-600 transition-colors active:text-slate-700 active:underline dark:active:text-slate-300 sm:hover:text-slate-700 sm:hover:underline dark:sm:hover:text-slate-300"
					>Tailwind CSS</a
				>
				{i18n.FOOTER_TXT_3}
				<a
					rel="noopener noreferrer"
					href="https://vercel.com"
					target="_blank"
					class="font-bold text-cyan-600 transition-colors active:text-slate-700 active:underline dark:active:text-slate-300 sm:hover:text-slate-700 sm:hover:underline dark:sm:hover:text-slate-300"
					>Vercel</a
				>.
			</p>

			<hr
				class="my-6 h-0.5 w-full border-0 bg-gradient-to-r from-transparent via-cyan-800 to-transparent md:hidden"
			/>

			<ul class="flex flex-row items-center gap-x-6">
				<li>
					<a
						target="_blank"
						href="https://github.com/RikiRilis"
						rel="noopener noreferrer"
						aria-label="Rikelvi's GitHub brand logo will open in a new window"
						class="inline-block hover:scale-125 motion-safe:transition motion-reduce:hover:scale-100"
					>
						<GitHub
							class="size-8 text-slate-600 transition-colors active:text-cyan-600 motion-reduce:duration-0 dark:text-slate-400 sm:hover:text-cyan-600"
						/>
					</a>
				</li>
				<li>
					<a
						target="_blank"
						href="https://discord.gg/VDk8tprcH2"
						rel="noopener noreferrer"
						aria-label="Rikelvi's Discord brand logo will open in a new window"
						class="inline-block hover:scale-125 motion-safe:transition motion-reduce:hover:scale-100"
					>
						<Discord
							class="size-10 text-slate-600 transition-colors active:text-cyan-600 motion-reduce:duration-0 dark:text-slate-400 sm:hover:text-cyan-600"
						/>
					</a>
				</li>
				<li>
					<a
						target="_blank"
						href="https://twitter.com/rikirilis_"
						rel="noopener noreferrer"
						aria-label="Rikelvi's X brand logo will open in a new window"
						class="inline-block hover:scale-125 motion-safe:transition motion-reduce:hover:scale-100"
					>
						<X
							class="size-8 text-slate-600 transition-colors active:text-cyan-600 motion-reduce:duration-0 dark:text-slate-400 sm:hover:text-cyan-600"
						/>
					</a>
				</li>
				<li>
					<a
						target="_blank"
						href="https://instagram.com/rikirilis"
						rel="noopener noreferrer"
						aria-label="Rikelvi's Instagram brand logo will open in a new window"
						class="inline-block hover:scale-125 motion-safe:transition motion-reduce:hover:scale-100"
					>
						<Instagram
							class="size-10 text-slate-600 transition-colors active:text-cyan-600 motion-reduce:duration-0 dark:text-slate-400 sm:hover:text-cyan-600"
						/>
					</a>
				</li>
				<li>
					<a
						target="_blank"
						href="https://whatsapp.com/channel/0029Va8erNPAojYouLjOuG0Y"
						rel="noopener noreferrer"
						aria-label="Rikelvi's WhatsApp channel brand logo will open in a new window"
						class="inline-block hover:scale-125 motion-safe:transition motion-reduce:hover:scale-100"
					>
						<WhatsApp
							class="size-9 text-slate-600 transition-colors active:text-cyan-600 motion-reduce:duration-0 dark:text-slate-400 sm:hover:text-cyan-600"
						/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
