---
import RikiRilis from "@/icons/RikiRilis.astro";
---

<header class="w-full flex justify-center fixed z-20">
  <div
    class="flex items-center bg-slate-400 bg-opacity-5 backdrop-blur-xl my-4 w-11/12 justify-between sm:justify-normal sm:w-fit pr-4 sm:pr-0 gap-x-6 h-auto overflow-hidden rounded-2xl animate__animated animate__fadeInDown animate__faster"
  >
    <a
      href="https://rikirilis.xyz"
      aria-label="Rikelvi's RikiRilis brand logo will open in a new window"
      class="text-cyan-600 inline-block hover:scale-110 motion-safe:transition
    motion-reduce:hover:scale-100"
    >
      <RikiRilis
        class="size-10 text-slate-400 transition-colors duration-300 hover:text-cyan-600 motion-reduce:duration-0 ml-4"
      />
    </a>

    <nav
      class="hidden sm:flex flex-row justify-center items-center text-center font-semibold text-slate-400"
    >
      <a
        href="/blog"
        class="p-3 w-full h-full inline-block transition-colors hover:bg-slate-300 hover:bg-opacity-10 hover:text-cyan-600 select-none"
        >Blog</a
      >
      <a
        href="/portfolio"
        class="p-3 w-full h-full inline-block transition-colors hover:bg-slate-300 hover:bg-opacity-10 hover:text-cyan-600 select-none"
        >Portfolio</a
      >
      <a
        href="/portfolio#about"
        class="p-3 w-full h-full inline-block transition-colors hover:bg-slate-300 hover:bg-opacity-10 hover:text-cyan-600 select-none"
        >About</a
      >
      <a
        href="/portfolio#projects"
        class="p-3 w-full h-full inline-block transition-colors hover:bg-slate-300 hover:bg-opacity-10 hover:text-cyan-600 select-none"
        >Projects</a
      >
      <a
        href="#contact"
        class="p-3 w-full h-full inline-block transition-colors hover:bg-slate-300 hover:bg-opacity-10 hover:text-cyan-600 select-none"
        >Contact</a
      >
    </nav>

    <label
      for="check"
      class="menu flex flex-col-reverse cursor-pointer sm:hidden rotate-180"
    >
      <input type="checkbox" id="check" />
      <span class="menu__span-1 bg-slate-400"></span>
      <span class="menu__span-2 bg-slate-400"></span>
      <span class="menu__span-3 bg-slate-400"></span>
    </label>
  </div>
</header>

<div
  id="modal"
  class="w-full h-screen hidden justify-center z-10 backdrop-blur-2xl shadow-lg fixed"
>
  <nav
    id="menu"
    class="flex flex-col justify-center w-11/12 h-[95%] my-4 py-16 relative bg-slate-400 text-slate-400 font-semibold text-2xl bg-opacity-10 shadow-slate-950 rounded-2xl overflow-hidden animate__animated animate__faster"
  >
    <a
      href="/blog"
      class="p-3 text-center w-full inline-block transition-colors hover:bg-slate-300 hover:bg-opacity-10 hover:text-cyan-600 select-none"
      >Blog</a
    >
    <a
      href="/portfolio"
      class="p-3 text-center w-full inline-block transition-colors hover:bg-slate-300 hover:bg-opacity-10 hover:text-cyan-600 select-none"
      >Portfolio</a
    >
    <a
      href="/portfolio#about"
      class="p-3 text-center w-full inline-block transition-colors hover:bg-slate-300 hover:bg-opacity-10 hover:text-cyan-600 select-none"
      >About</a
    >
    <a
      href="/portfolio#projects"
      class="p-3 text-center w-full inline-block transition-colors hover:bg-slate-300 hover:bg-opacity-10 hover:text-cyan-600 select-none"
      >Projects</a
    >
    <a
      href="#contact"
      class="p-3 text-center w-full inline-block transition-colors hover:bg-slate-300 hover:bg-opacity-10 hover:text-cyan-600 select-none"
      >Contact</a
    >
  </nav>
</div>

<script>
  document.getElementById("check")?.addEventListener("click", () => {
    document.getElementById("modal")?.classList.toggle("hidden");
    document.getElementById("modal")?.classList.toggle("flex");
    document.getElementById("menu")?.classList.toggle("animate__slideInDown");
  });

  document.getElementById("modal")?.addEventListener("click", (e) => {
    if (e.target === document.getElementById("modal")) {
      document.getElementById("modal")?.classList.toggle("hidden");
      document.getElementById("modal")?.classList.toggle("flex");
      document.getElementById("menu")?.classList.toggle("animate__slideInDown");
    }
  });
</script>

<style>
  #check {
    display: none;
  }

  .menu {
    width: 2em;
  }

  #check:checked ~ .menu__span-1 {
    transform-origin: bottom;
    width: 100%;
    transform: rotate3d(0, 0, 1, -45deg) translate3d(8px, -6px, 0);
  }

  #check:checked ~ .menu__span-2 {
    transform-origin: top;
    transform: rotate3d(0, 0, 1, 45deg);
  }

  #check:checked ~ .menu__span-3 {
    transform-origin: bottom;
    transform: rotate3d(0, 0, 1, -45deg) translate3d(4px, -19px, 0);
    opacity: 0;
  }

  .menu span {
    margin: auto 0;
    height: 0.19em;
    border-radius: 20px;
    margin: 3px 0;
    transition: 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  .menu__span-1 {
    width: 50%;
    will-change: transform;
  }

  .menu__span-2 {
    width: 100%;
    will-change: transform;
  }

  .menu__span-3 {
    width: 75%;
    will-change: transform;
  }
</style>
