---
import RightArrow from '@/icons/RightArrow.astro'
---

<a
	class='group relative flex w-full justify-between overflow-hidden rounded-3xl bg-primary/5 transition-all ease-in-out active:scale-[0.99] active:shadow-md sm:cursor-pointer sm:hover:scale-[0.99] sm:hover:shadow-md'
	href='https://www.rikirilis.com/photography'
	rel='noopener noreferrer'
>
	<span
		class='absolute h-full w-0 -skew-x-12 scale-110 bg-primary/5 transition-all duration-500 ease-out group-active:w-full sm:group-hover:w-full'
	></span>

	<div class='relative z-10 flex w-full flex-col overflow-hidden sm:flex-row'>
		<div
			class='grid aspect-square size-full max-h-full max-w-full grid-cols-2 grid-rows-2 overflow-hidden sm:max-h-56 sm:max-w-56'
		>
			<img
				src='https://www.rikirilis.com/portraits/16.webp'
				alt='Image 5'
				srcset='https://www.rikirilis.com/portraits/16.webp'
				class='h-full w-full object-cover'
			/>
			<img
				src='https://www.rikirilis.com/portraits/34.webp'
				alt='Image 34'
				srcset='https://www.rikirilis.com/portraits/34.webp'
				class='h-full w-full object-cover'
			/>
			<img
				src='https://www.rikirilis.com/portraits/21.webp'
				alt='Image 21'
				srcset='https://www.rikirilis.com/portraits/21.webp'
				class='h-full w-full object-cover'
			/>
			<img
				src='https://www.rikirilis.com/portraits/40.webp'
				alt='Image 10'
				srcset='https://www.rikirilis.com/portraits/40.webp'
				class='h-full w-full object-cover'
			/>
		</div>

		<div class='p-4'>
			<h3 class='text-lg font-bold text-accent'>Photographies portfolio</h3>

			<p class='text-sm text-primary sm:text-base'>
				See my photography portfolio, where I show some of my best works as a professional
				photographer and photo editor.
			</p>
		</div>

		<div class='hidden items-center p-4 sm:flex'>
			<RightArrow class='size-8 text-primary transition-colors sm:group-hover:text-accent' />
		</div>
	</div>
</a>
