<a
    {...Astro.props}
    class="cursor-pointer bg-slate-900 border border-slate-800 rounded-full flex justify-center items-center gap-2 py-1 px-4 sm:hover:scale-105 sm:hover:bg-slate-800 sm:hover:border-slate-700 transition-all text-slate-400 active:bg-slate-800 active:border-slate-700 active:scale-105 sm:hover:text-cyan-600 active:text-cyan-600 font-semibold"
    rel="noopener noreferrer"
>
    <slot />
</a>
