<a
	{...Astro.props}
	class='fade-up-anim dark:active:text-accent dark:sm:hover:text-accent border-primary dark:text-primary active:border-secondary flex cursor-pointer items-center justify-center gap-2 rounded-full border bg-slate-200 px-4 py-1 font-semibold text-slate-600 transition-all active:scale-105 active:bg-slate-800 active:text-slate-200 dark:border-slate-800 dark:bg-slate-900 dark:active:border-slate-700 sm:hover:scale-105 sm:hover:border-slate-700 sm:hover:bg-slate-800 sm:hover:text-slate-200'
	rel='noopener noreferrer'
>
	<slot />
</a>
