<a
	{...Astro.props}
	class="flex cursor-pointer items-center justify-center gap-2 rounded-full border border-slate-400 bg-slate-200 px-4 py-1 font-semibold text-slate-600 transition-all active:scale-105 active:border-slate-500 active:bg-slate-800 active:text-slate-200 sm:hover:scale-105 sm:hover:border-slate-700 sm:hover:bg-slate-800 sm:hover:text-slate-200 dark:border-slate-800 dark:bg-slate-900 dark:text-slate-400 dark:active:border-slate-700 dark:active:text-cyan-600 dark:sm:hover:text-cyan-600"
	rel="noopener noreferrer"
>
	<slot />
</a>
