---
import Footer from "@/components/Footer.astro";
import GoToTop from "@/components/GoToTop.astro";
import Header from "@/components/Header.astro";
import "@fontsource-variable/onest";
import "@fontsource/ubuntu";
import "animate.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" translate="no">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="keywords"
			content="astro, html, javascript, js, css, rikirilis, portfolio, angular, rikelvi capellan, republica dominicana, dominican republic, developer, desarrollador web, web developer, blog, rikirilis blog, projects, rikirilis projects, rikelvi capellan projects, ts, typescript, components, anciano, corta, fama, historia, joven, leche, moraleja, relato, riquezas, sueños, vaca, short story"
		/>
		<meta name="og:locale" content="en_EN" />
		<meta name="googlebot" content="index, follow" />

		<script is:inline>
			document.addEventListener("astro:page-load", () => {
				window.getThemePreference = () => {
					const localItem = typeof localStorage !== "undefined" && localStorage.getItem("theme");
					if (localItem) return localItem;
					return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
				};

				const isDark = window.getThemePreference() === "dark";
				document.documentElement.classList.toggle("dark", isDark);
			});
		</script>

		<link rel="author" href="https://www.linkedin.com/in/rikirilis" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="canonical" href="https://rikirilis.xyz" />
		<ViewTransitions fallback="none" />
		<title>{title}</title>
	</head>
	<body class="relative">
		<div
			class="absolute bottom-0 top-0 z-[-2] min-h-screen w-full bg-slate-100 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(203,213,225,0.5),rgba(241,245,249,0.9))] dark:bg-slate-950 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(34,211,238,0.2),rgba(241,245,249,0))]"
		>
		</div>

		<GoToTop />

		<Header />
		<slot />
		<Footer />

		<style is:global>
			html {
				font-family: "Onest Variable", "Ubuntu", system-ui, sans-serif;
				background-color: #f1f5f9;
				scroll-behavior: smooth;
				scrollbar-gutter: stable;
			}

			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}

			::-webkit-scrollbar-thumb {
				background-color: #0891b2;
				background-clip: content-box;
				border: 2px solid #0000;
				border-radius: 10px;
			}

			::-webkit-scrollbar {
				width: 10px;
			}

			::-webkit-scrollbar-track {
				background: #f1f5f9;
			}

			.dark {
				background-color: #020617;

				::-webkit-scrollbar-track {
					background: #020617;
				}
			}

			@media (prefers-reduced-motion: reduce) {
				html {
					scroll-behavior: auto;
				}
			}
		</style>
	</body>
</html>
