---
import "@fontsource-variable/onest";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions fallback="none" />
		<title>{title}</title>
	</head>
	<body class="relative">
		<div
			class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-slate-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(34,211,238,0.2),rgba(255,255,255,0))]"
		>
		</div>
		<slot name="overAll" />
		<Header />
		<slot />
		<Footer />

		<style is:global>
			html {
				font-family: "Onest Variable", system-ui, sans-serif;
				background: #020617;
				background-size: 224px;
				color-scheme: dark light;
				scroll-behavior: smooth;
				/* scrollbar-gutter: stable; */
			}
			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}

			::-webkit-scrollbar-thumb {
				background-color: #0891b2;
				background-clip: content-box;
				border: 2px solid #0000;
				border-radius: 10px;
			}

			::-webkit-scrollbar {
				width: 10px;
			}

			::-webkit-scrollbar-track {
				background: #020617;
			}

			@media (prefers-reduced-motion: reduce) {
				html {
					scroll-behavior: auto;
				}
			}
		</style>
	</body>
</html>
