---
import UpArrow from '@/icons/UpArrow.astro'
---

<a
	id='go-top-btn'
	class='group fixed bottom-20 right-6 z-30 flex size-12 cursor-pointer items-center justify-center rounded-xl border border-slate-800 bg-blue-950 text-secondary transition duration-300 active:border-accent active:bg-main active:text-primary md:hover:border-accent md:hover:bg-main md:hover:text-primary'
>
	<UpArrow class='size-6 transition-transform duration-300 md:rotate-45 md:group-hover:rotate-0' />
</a>

<style>
	#go-top-btn {
		visibility: hidden;
		opacity: 0;
		animation: visibility linear both;
		animation-timeline: scroll();
		animation-range: 0 200px;
	}

	@keyframes visibility {
		to {
			visibility: visible;
			opacity: 1;
		}
	}
</style>

<script>
	import { $ } from '@/libs/dom-selector.ts'

	document.addEventListener('astro:page-load', () => {
		const goToTopBtn = $('#go-top-btn') as HTMLAnchorElement
		goToTopBtn.addEventListener('click', () => {
			window.scrollTo(0, 0)
		})
	})
</script>
