---
import { getI18N } from '@/languages/index.ts'
import { navItems } from '@/libs/consts'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<header class='fixed z-50 flex w-full justify-center'>
	<div
		id='header'
		class='flex h-auto w-full items-center justify-center overflow-hidden border border-transparent py-6 transition-transform'
	>
		<nav
			class='flex flex-row items-center justify-center gap-2 text-center font-semibold text-primary md:gap-4'
		>
			{
				navItems(currentLocale).map((item) => (
					<a
						href={item.url}
						aria-label={item.label}
						class='inline-flex h-full select-none items-center justify-center gap-2 rounded-3xl border border-transparent p-2 text-center transition-colors hover:bg-secondary/5 md:p-4 md:hover:border-secondary/10'
					>
						<item.icon class='hidden size-6 md:block' />
						{item.title}
					</a>
				))
			}
		</nav>
	</div>
</header>

<style>
	#header {
		animation: bgBlur linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;
	}

	@keyframes bgBlur {
		to {
			@apply border-b-main/30 bg-black/30 py-4 shadow-xl shadow-main/5 backdrop-blur-lg;
		}
	}
</style>

<script>
	document.addEventListener('astro:page-load', () => {
		const sections = document.querySelectorAll('section')
		const navItems = document.querySelectorAll('header nav a')

		const callback = (entries: any[]) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					navItems.forEach((item) => {
						if (item.getAttribute('aria-label') == entry.target.id) {
							item.classList.add('text-accent')
						} else {
							item.classList.remove('text-accent')
						}
					})
				}
			})
		}

		const observer = new IntersectionObserver(callback, {
			root: null,
			rootMargin: '0px',
			threshold: 0.2,
		})

		sections.forEach((section) => {
			observer.observe(section)
		})

		document.onvisibilitychange = () => {
			if (document.visibilityState === 'hidden') {
				observer.disconnect()
			} else {
				sections.forEach((section) => {
					observer.observe(section)
				})
			}
		}
	})
</script>
