---
import WhatsApp from '@/icons/WhatsApp.astro'
---

<a
	href='https://whatsapp.com/channel/0029Va8erNPAojYouLjOuG0Y'
	target='_blank'
	rel='noopener noreferrer'
	class='text-secondary active:text-primary md:hover:text-primary group fixed bottom-6 right-6 z-30 flex size-12 cursor-pointer items-center justify-center rounded-xl border border-slate-800 bg-blue-950 transition duration-300 active:border-green-700 active:bg-green-800 md:hover:border-green-700 md:hover:bg-green-800'
>
	<WhatsApp class='size-6' />
</a>
